<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p style="font-size: 20px;"><%= title %></p>
    <p style="font-size:16px;margin-top: 20px;"> <%= des %></p>
    <p style="font-size:14px;margin-top: 20px;"><a href="/controlPage">配置页</a></p>
  </body>
</html>
